.content {
    padding: 8px;
    background-color: #ffffff;
    border-radius: 0.25rem;
}

a {
    color: inherit;
}

img.product {
    height: auto;
    max-width: 200px;
    pointer-events: none;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 10;
}

.lgfont{
    font-size: 1.2rem;
}